<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equijoins</title>
    <style>
        table,th,td 
	    {
		border-collapse: collapse;   
		border:2px solid black;
	    }
        th
        {
            color:crimson;
            font-size: larger;
        }
        th,td 
	    {
		padding: 10px;
	    }
    </style>
</head>
<body>
    <center>
        <h1 style="color: blue;">Equijoins:-</h1>
        <table border="4px">
            <tr>
                <th>Empno</th>
                <th>Ename</th>
                <th>Job</th>
                <th>mgr</th>
                <th>Hiredate</th>
                <th>Sal</th>
                <th>comm</th>
                <th>Deptno</th>
                <th>Dname</th>
                <th>Dlocation</th>
            </tr>
            {% for emp in EMPOBJECTS %}
                <tr>
                    <td>{{emp.empno}}</td>
                    <td>{{emp.ename}}</td>
                    <td>{{emp.job}}</td>                   
                    <td>{{emp.mgr.empno}}</td>                
                    <td>{{emp.hiredate}}</td>
                    <td>{{emp.sal}}</td>     
                    {% if emp.comm %}              
                        <td>{{emp.comm}}</td>
                    {% else %}
                        <td>    </td>
                    {% endif %}
                    <td>{{emp.deptno.deptno}}</td>
                    <td>{{emp.deptno.dname}}</td>
                    <td>{{emp.deptno.dlocation}}</td>
                </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html> 